{
    "Grid Color": "(0.75, 0.75, 0.75)",
    "Grid On": true,
    "Grid Size": 50,
    "MSAA": 1,
    "Panel Color": "(0.7, 0.7, 0.7)",
    "Panel Postion": "(325, 113)",
    "Panel Size": "(1024, 768)",
    "Recent Projects": {
        "0": "D:/VSProjects/2015/Lvluo/Lvluo/Resources/Projects/default.lv"
    }
}
